.faq{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.faq_answer {
  width: 100%;
  margin-top: 24px;
}
.faq_answer p {
  padding-left: 110px;
  color: #e6e6e6;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}


.faq_items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: all 0.2s ease-out;
  align-items: flex-start;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;
  width: 50%;
  overflow: hidden;
  padding: 34px 50px;
  position: relative;
  max-height: 140px;
}

.open {
  max-height: 220px; /* Approximate height of one line of text */
}
.faq_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-out;
  gap: 30px;
}
.faq_items:nth-child(2n) {
  border-right: none;
  border-left: 1px solid #262626;
}
.faq_items:last-child {
  border-bottom: none;
}
.faq_items:nth-last-child(2) {
  border-bottom: none;
}

.faq_number {
  width: 80px;
  height: 80px;
  margin-right: 30px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #2e2e2e;
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
.faq_number h2 {
  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  transition: all 0.2s ease-out;
}
.active_faq {
  background: linear-gradient(180deg, #165caa 0%, #74b6ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq_question {
  color: #fff;
  font-family: Barlow;
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
}
.faq_mark {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  color: #fff;
  font-size: 20px;
}
