@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: #1a1a1a;
}
.container {
  width: 84%;
  margin: 0 auto;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-1heuipj, span {
  color: #fff !important;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.css-yafthl-MuiSlider-markLabel, .css-1eoe787-MuiSlider-markLabel {
  color: var(--Absolute-White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
  .css-yafthl-MuiSlider-markLabel, .css-1eoe787-MuiSlider-markLabel {
    color: var(--Absolute-White, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}