/* styles/Navbar.module.css */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: transparent;
  border-bottom: 1px solid #1D354F;
  color: white;
}
.logo {
  gap: 12px;
  text-decoration: none;
  color: #fff;
  font-family: Squada One;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

.links a {
  color: #fff;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 8px;
}
.links .active {
  background: rgba(38, 38, 38, 0.6);
}
.links a:hover {
  background: rgba(38, 38, 38, 0.6);
}

.btn {
  a {
    padding: 16px 24px;
    border-radius: 8px;
    background: #165caa;
    color: #fff;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s all;
  }
}

.btn:hover a {
  box-shadow: 0 0 10px 10px #2278db
}


@media screen and (max-width:1367px) {
  .navbar{
    padding: 16px 0px;


    .logo{
      gap: 10px;
      font-size: 28px;
      line-height: 30px;
    }

    .links a{
      font-size: 16px;
      line-height: 24px;
      padding: 12px 24px;

      img{
        width: 40px !important;
        height: 40px !important;
      }
    }

    .btn a{
      font-size: 16px;
      line-height: 24px;
      padding: 12px 24px;
    }
  }
}